---
layout: default
logo: logo-black
bodyId: home
analytics_category: site
analytics_name: homepage
---

<div class="mw6 mw6-ns center">
  <img class="w-100" src="/images/focus_profile2.jpg" />

  <div class="w-100 f3 mv3">
    <blockquote class="ma3">
      <p>Business Architecture and Software</p>
    </blockquote>
  </div>

  <article class="w-100 latestPost mb3 pa3">
    <h2 class="f3">Latest Post</h2>

    {% assign post = site.posts | first %}

    <h3 class="measure lh-title">
      <a href="{{post.url}}">{{ post.title }}</a>
    </h3>

    <small class="datetime muted">{{ post.date | date_to_string }}</small>

    {{post.excerpt}}

  </article>

  <div class="w-100 pa3">
    {% include intro.html %}
  </div>

  <div class="w-100 pa3">
    <h2 class="measure lh-title">A Bit About Me</h2>
    <p class="measure lh-copy">
      I also spend an inordinate amount of time working out, trying to stay in shape so that I can keep coding for as long as possible.
      I coded up a
      <a href="/prs">pr board</a> for myself.
    </p>
    <ul class="resources">
      <li>
        <a href="http://github.com/drusellers">github.com/drusellers</a>
      </li>
      <li>
        <a href="/resume">resume</a>
      </li>
      <li>
        <a href="/prs">My PR Board</a>
      </li>
      <li>
        <a href="/iron">Iron and the Soul</a>
      </li>
      <li>
        <a href="http://drusellers.tumblr.com">Quotes</a>
      </li>
      <li>
        <a href="/posts">Blog</a>
      </li>
    </ul>
  </div>

  {% include quotes.html %}
</div>