<header class="mw6 mw6-ns center mv4 cf">
    <div class="fl w-60">
      {% if page.logo %}
        <img src="/images/{{ page.logo }}.png" alt="Dru Sellers" />
        {% else %}
        <img src="/images/logo-black.png" alt="Dru Sellers" />
        {% endif %}
    </div>

    <div class="fl w-40 tr f6">
      <div id="hcard-Dru-Sellers">
        <span class="fn">Dru Sellers</span>
        <div class="email"><a href="mailto:dru@drusellers.com">dru@drusellers.com</a></div>
        <div class="twitter"><a href="http://twitter.com/drusellers">@drusellers</a></div>
        <div class="adr">
            <div class="street-address"></div>
            <span class="locality">Austin</span>,
            <span class="region">TX</span>
            <span class="postal-code">78748</span>
            <span class="country-name">USA</span>
        </div>
        <div class="tel">+1 785/371-4589</div>
      </div><!-- /hcard -->
    </div>
</header>
