<h2 class="lh-title">Building Systems</h2>
<p class="measure lh-copy">I love building systems, I love learning about how systems are constructed
   and designed. There is something about stepping into a new organization
   and looking at how it was designed. What things does this organization
   deem important and what doesn't it find important.</p>

<p class="measure lh-copy">For the last 15 years I have been building software systems, and the
  more that I do it, the more that I realize I have a unique view point
  on how to build these systems. My undergraduate education is in Economics
  and Business, I ended up teaching myself how to develop software.</p>

<p class="measure lh-copy">Because of my business background, when I look to start building systems
  I tend to start with the Business Value Model and then workback from there
  to the system that needs to be built.</p>
