<div class="w-100 cf">
  <ul class="list ma0 cf pa0">
    <li class="fl w-50 pr2">
      <h3 class="measure lh-title">A little zen</h3>
      <p class="measure lh-copy">Water is fluid, soft and yielding. But water will wear away rock,
        which is rigid and cannot yield. As a rule, whatever is fluid, soft
        and yielding will overcome whatever is rigid and hard. This is another
        paradox: what is soft is strong.</p>
      <p><em>Lao-tzu</em></p>
    </li>
    <li class="fl w-50 pl2">
      <h3 class="measure lh-title">The Grind is the Glam</h3>
      <p class="measure lh-copy">Live for the moment! Do what you love. If you can
      acheive this then the grind will be glamourous. Just as it
      seems glamourous to me what rock stars get to do everyday I
      know that to them its just another day in the grind. So if
      you are going to have to do the work, it should at least be
      something you love.</p>
      <p><em>Me via Jeff McKinney and Carl Paoli</em></p>
    </li>
  </ul>
</div>
