.latestPost {
  background:#CDECFF;
  color: #333;
}

.resources {
  clear:both;
  list-style: none;
  float:left;
  width:100%;
  padding:0;
  margin:0 0 10px 0;

  li {
    float:left;

    padding:5px;
    @include rounded();
    margin:0;
    margin-bottom: 10px;
    position: relative;
    margin-right:10px;
    background: $resource_link_bg;

  }
  a {
    color:$resource_link_color;
  }
}
