$break-small: 320px; //the smallest part of iPhone
$break-large: 700px;

body {
  background:none;
  color: $copy_color;
  padding-bottom: 0;
  margin:0;
}

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}


.footer {
    background-color: $footer_background_color;

    h3 {
        color:#588c8c;
    }

    img {
        margin: 0;
    }
}
