body#resume{
  background:#fff;
}

#resume {


  blockquote {
    font-style: italic;
  }

  .body {
    position:relative;





    .pic {
      @include respond-to(handhelds) { display:none; }
      @include respond-to(medium-screens) { display:none; }
      @include respond-to(wide-screens) {
        position:absolute;
        left:-350px;
        top:0px;
      }
    }
  }

  ul.activities {
    li {
      margin-bottom:1.25em;
      margin-left:2em;
    }
  }
  .experience, .education {
    h4 {
      small {
        color:#aaa;
        a {
          color:#aaa;
          text-decoration:underline;
        }
      }
    }
    ul {
      .title {
        color:darken($copy_color, 20%);
        font-weight:bold;

        small {
          color:$copy_color;
          font-weight: normal;
        }
      }

    }
  }
}
